*/5  *  *  *  * sudo -u apache php -f /var/www/html/nextcloud/cron.php > /dev/null
*/10 *  *  *  * sudo node /var/www/nodejs/quotes/set-motd.js > /dev/null
0 3 * * * ~/bin/backup.sh
56 2 * * 3 sudo node /opt/nodejs/disk-check/schedule.js
56 14 * * 3 sudo node /opt/nodejs/disk-check/report.js
37 2 * * 4 sudo /usr/local/bin/renew-certs.sh
43 3 * * 2 sudo /usr/local/bin/backup-to-nas.sh
